{% extends "base.html" %}
{% block title %}Профиль пользователя {{ author }}{% endblock %}
{% block content %}
    <main role="main" class="container">
        {% include "profile_card.html" %}
        <div class="col-md-9">
            {% for post in page %}
                <div class="card mb-3 mt-1 shadow-sm">
                    {% include "post_item.html" %}
                </div>
            {% endfor %}

            {% if page.has_other_pages %}
                {% include "paginator.html" with items=page paginator=paginator %}
            {% endif %}
        </div>
    </main>
{% endblock %}